
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    line-height: 1.6;
}

header {
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: color 0.3s ease;
}


main {
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    background-color: #ffffff;
  
    border-radius: 10px;
  
}


main h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: black ;
}

#pageList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#pageList li {

    border: 1px solid #d1d5db;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
}


#pageList li a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}



#logoutButton {
    color: #ffffff;
    background-color: red;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.5rem;
    transition: color 0.3s ease;
    padding: 5px;
}




#logoutButton:active {
    background-color:black;
    transform: translateY(0);
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.9rem;
}
