
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    line-height: 1.6;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: color 0.3s ease;
}



main {
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    background-color: #ffffff;
    border-radius: 10px;
   
}


form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form textarea {
    margin-bottom: 1.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
}

form input[type="text"]:focus,
form textarea:focus {
    border-color: black;
    outline: none;
}

form textarea {
    resize: vertical;
    min-height: 150px;
}

button[type="submit"] {
    padding: 0.75rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
    text-align: center;
}


button[type="submit"]:active {
    background-color:black;
    transform: translateY(0);
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.9rem;
}
